body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.navbar-default {
    margin-bottom: 100px;
}

#main {
    margin-top: 150px;
}

label {
    margin-top: 15px;
}

#sidebar {
    background: #2a2c36;
    position: fixed;
    height: 100%;
    width: 0;
    overflow: hidden;
    left: 0;
    margin: 0;
    transition: width ease .35s;
    padding: 50px 0 50px 0;
}

#sidebar.hide-sidebar {
    width: 250px;
    transition: width ease .35s;
}

#wrapper {
    transition: margin-left ease .35s;
}

#wrapper.hide-sidebar {
    margin-left: 250px;
    transition: margin-left ease .35s;
}

#sideBarToggle {
    background: #2a2c36;
    color: #fff;
}

#sideBarToggle:focus {
    outline-color: #2a2c36;
}

ul.nav a {
    color: white;
}

ul.nav a:hover {
    color: #2a2c36;
}

#fadeInWrap {
    display: none;
}

#wordCountArea {
    height: 214px;
    width: 100%;
    overflow: scroll;
    border-style: solid;
    border-width: thin;
}

#query {
    height: 300px;
    overflow: scroll;
    border-style: solid;
    border-width: thin;
}

#dataFilter {
    height: 300px;
    overflow: scroll;
    border-style: solid;
    border-width: thin;
}

#myText {
    resize: vertical;
}

#myText2 {
    resize: vertical;
}

#dataTotal {
    float: right;
}

label textarea {
    vertical-align: top;
}

label[for='query'] {
    padding-top: 100px;
}

a[data-link-button='Search'] {
    margin-top: 10px;
}

form[data-form-name='Contact'] header {
    text-align: center;
}

#submitContactForm {
    margin-top: 10px;
}

.navbar-default {
    background-color: #2a2c36;
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

span.glyphicon {
    padding-right: 5px;
    font-size: 14px;
}

.homePageContainers {
    margin-top: 100px;
    padding-bottom: 75px;
    text-align: center;
}

.centerAlignText {
    text-align: center;
}

th.centerAlignText {
    font-size: 18px;
}

p {
    line-height: 2.5em;
}

.greenInfoParagraphs {
    background-color: #2BBBAD;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 15px;
}

.paragraphMargin {
    margin-bottom: 50px;
}

.panel-default .panelHeaderStyle {
    font-weight: bold;
    font-size: 18px;
    background-color: #2BBBAD;
    color: #fff;
}

.inputBackgroundColorQTools {
    background-color: #fafafa;
    ;
}

#submittedSuccessfullyMessage {
    text-align: center;
    margin-top: 15px;
}

#flashingAnimationHeader {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-color: #33b5e5;
    -webkit-animation-name: blue-pink;
    -webkit-animation-duration: 20s;
    animation-name: blue-pink;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.panel-default:hover {
    box-shadow: 10px 10px 10px #ccc;
}

.bottomBorder {
    border-bottom: double 4px #ccc;
    margin-bottom: 12px;
}

.welcome {
    font-weight: bold;
    font-size: 100px;
    padding-top: 100px;
    color: #fff;
    -webkit-animation-name: welcomeFadeIn, welcomeMoveUp;
    -webkit-animation-duration: 2s;
    animation-name: welcomeFadeIn, welcomeMoveUp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.fadeInDiv {
    color: #fff;
    -webkit-animation-name: welcomeFadeInPara;
    -webkit-animation-duration: 2.5s;
    animation-name: welcomeFadeInPara;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

#contactParagraphAnimate {
    transform: translateX(-1000px);
    animation-name: slideInDiv;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.bottomDivMargins {
    margin-bottom: 100px;
}


/*ANIMATIONS*/

@-webkit-keyframes blue-pink {
    0% {
        background: #33b5e5;
    }
    25% {
        background: #f8bbd0;
    }
    50% {
        background: #33b5e5;
    }
    75% {
        background: #f8bbd0;
    }
    100% {
        background: #33b5e5;
    }
}

@keyframes blue-pink {
    0% {
        background: #33b5e5;
    }
    25% {
        background: #f8bbd0;
    }
    50% {
        background: #33b5e5;
    }
    75% {
        background: #f8bbd0;
    }
    100% {
        background: #33b5e5;
    }
}

@keyframes welcomeFadeIn {
    0% {
        color: #fff;
    }
    25% {}
    50% {}
    75% {}
    100% {
        color: #2a2c36;
    }
}

@keyframes welcomeFadeInPara {
    0% {
        color: #fff;
    }
    25% {}
    50% {
        color: #fff;
    }
    75% {}
    100% {
        color: #000;
    }
}

@-webkit-keyframes welcomeFadeInPara {
    0% {
        color: #fff;
    }
    25% {}
    50% {
        color: #fff;
    }
    75% {}
    100% {
        color: #000;
    }
}

@keyframes welcomeMoveUp {
    0% {
        padding-top: 100px;
    }
    25% {}
    50% {}
    75% {}
    100% {
        padding-top: 0px;
    }
}

@-webkit-keyframes welcomeFadeIn {
    0% {
        color: #fff;
    }
    25% {}
    50% {}
    75% {}
    100% {
        color: #2a2c36;
    }
}

@-webkit-keyframes welcomeMoveUp {
    0% {
        padding-top: 200px;
    }
    25% {}
    50% {}
    75% {}
    100% {
        padding-top: 50px;
    }
}

@keyframes slideInDiv {
    0% {
        transform: translateX(-1000px);
        ;
    }
    25% {}
    50% {}
    75% {}
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes slideInDiv {
    0% {
        transform: translateX(-1000px);
        ;
    }
    25% {}
    50% {}
    75% {}
    100% {
        transform: translateX(0);
    }
}


/*END ANIMATIONS*/